---
const { title, subtitle, desc } = Astro.props;
---

<div class="flex">
  <div class="education__time px-5">
    <span class="w-4 h-4 block rounded-full mt-1 bg-teal-700"></span>
    <span
      class="education__line block h-full w-[3px] translate-x-[7px] bg-yellow-300"
    ></span>
  </div>
  <div class="experience__data bd-grid px-5">
    <h3 class="font-semibold mb-1">{title}</h3>
    <span class="font-light text-sm">{subtitle}</span>
    <p class="my-4 text-justify text-sm">
      {desc}
    </p>
  </div>
</div>
