---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import Certificate from "../components/Certificate";
---

<BaseLayout title="Resume">
  <section class="container py-12 border-2 border-black mx-auto">
    <div class="px-5">
      <div class="text-4xl lg:text-5xl xl:text-7xl font-bold mb-4">Profile</div>
    </div>
    <!-- EDUCATION -->
    <div class="px-5">
      <h1 class="text-xl lg:text-2xl xl:text-3xl font-bold mb-4">Education</h1>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement
        title="Learning Online FullStack Open Course "
        subtitle="March 2023 - until now at University of Helsinki"
      />
      <TimeLineElement
        title=" M3 Full Stack Student"
        subtitle="August 2022 - December 2022 at Spark Academy - The Shortcut Company"
      />
      <TimeLineElement
        title="BBA Degree"
        subtitle="2017 - 2020 at Vaasa University of Applied Sciences"
      />
    </div>
    <!-- EXPERIENCE -->
    <div class="px-5">
      <h1 class="text-xl lg:text-2xl xl:text-3xl font-bold mb-4">Experience</h1>
    </div>

    <div class="time-line-container mb-10">
      <TimeLineElement
        title="Wikipedia Project Course"
        subtitle="2022 Spark Academy, Helsinki"
        desc="I have a great chance to work as a Software Developer when my final project course is working with my team and client. The project is about both front and back end and i have learned a lot of knowledge from my teammmate and trainer. "
      />

      <TimeLineElement
        title="Finding My Passionate Career"
        subtitle="Self-taught Coder"
        desc="I first became fascinated with programming last year when I spent time studying UI/UX design. As a person who looks for using aesthetic and efficient applications, I was hooked into coding. I research a lot about developer paths and as a marketer before, I decided to follow the path of becoming a Front End Developer.At my university, I did learn HTML, CSS, so I feel picking up Front End stack is pretty cool. Then I spent time learning Javascript at home."
      />
      <TimeLineElement
        title="Marketing Intern"
        subtitle="2019, Tampere"
        desc="I was a marketing intern at a small educational startup company. This opportunity has brought me to knowledge that buidling a great website from landing page, button action and so on for increasing traffics, SEO is really important."
      />
    </div>
    <!-- CERTIFICATION -->

    <Certificate />
    <!-- SKILL -->
    <div class="px-5">
      <h1 class="text-xl lg:text-2xl xl:text-3xl font-bold mb-4">Skills</h1>
    </div>
    <div class="px-5">
      <h1 class="text-lg lg:text-xl xl:text-2xl font-bold mb-4">
        Languages & Frameworks
      </h1>
    </div>
    <ul class="list-none md:columns-5 columns-2 mx-6">
      <li>HTML5</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>React.js</li>
      <li>Node.js</li>
      <li>Express.js</li>
      <li>Astro</li>
      <li>Next.js</li>
      <li>Gatsby.js</li>
    </ul>
    <div class="px-5">
      <h1 class="text-lg lg:text-xl xl:text-2xl font-bold mb-4">
        UI Libraries
      </h1>
    </div>
    <ul class="list-none md:columns-5 columns-2 mx-6">
      <li>SASS</li>
      <li>TaildwindCSS</li>
      <li>Framer Motion</li>
      <li>Styled-Components</li>
      <li>Bootstrap</li>
      <li>Material UI</li>
      <li>Shadcn/UI</li>
    </ul>
    <div class="px-5">
      <h1 class="text-lg lg:text-xl xl:text-2xl font-bold mb-4">Databases</h1>
    </div>
    <ul class="list-none md:columns-5 columns-2 mx-6">
      <li>Postgres SQL</li><li>MongoDB</li><li>GraphQL</li>
    </ul>
    <div class="px-5">
      <h1 class="text-lg lg:text-xl xl:text-2xl font-bold mb-4">
        Tools & Working Method
      </h1>
    </div>
    <ul class="list-none md:columns-5 columns-2 mx-6">
      <li>Git Version Control</li><li>Agile Method</li>
      <li>Figma UI/UX</li><li>Netlify</li><li>CI/CD</li><li>Cypress</li><li>
        Jest Tesing
      </li><li>Story Book</li>
    </ul>
    <div class="px-5">
      <h1 class="text-lg lg:text-xl xl:text-2xl font-bold mb-4">
        Platform Deploy
      </h1>
    </div>
    <ul class="list-none md:columns-5 columns-2 mx-6">
      <li>Netlify</li><li>Firebase</li><li>Vercel</li>
    </ul>
  </section>
</BaseLayout>
