---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import ProjectCard from "../components/ProjectCard.astro";
---
<BaseLayout title="Resume" >
  <div class="mb-5">
    <div class="text-3xl w-full font-bold ">Profile</div>
  </div>
  <!-- EDUCATION -->
  <div class="mb-5">
    <div class="text-3xl w-full font-bold ">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10 ">
    <TimeLineElement
      title=" M3 Full Stack Student"
      subtitle="August 2022 - December 2022 at Spark Academy - The Shortcut Company"
    />
    <TimeLineElement
      title="BBA Degree"
      subtitle="2017 - 2020 at Vaasa University of Applied Sciences"
    />
  </div>
<!-- EXPERIENCE -->
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Wikipedia Project Course"
      subtitle="2022 Spark Academy, Helsinki"
      desc="I have a great chance to work as a Software Developer when my final project course is working with my team and client. The project is about both front and back end and i have learned a lot of knowledge from my teammmate and trainer. "
    />
    
     <TimeLineElement
      title="Finding My Passionate Career"
      subtitle="Self-taught Coder"
      desc="I first became fascinated with programming last year when I spent time studying UI/UX design. As a person who looks for using aesthetic and efficient applications, I was hooked into coding. I research a lot about developer paths and as a marketer before, I decided to follow the path of becoming a Front End Developer.At my university, I did learn HTML, CSS, so I feel picking up Front End stack is pretty cool. Then I spent time learning Javascript at home."
    />
    <TimeLineElement
      title="Marketing Intern"
      subtitle="2019, Tampere"
      desc="I was a marketing intern at a small educational startup company. This opportunity has brought me to knowledge that buidling a great website from landing page, button action and so on for increasing traffics, SEO is really important."
    />  
  </div>
<!-- CERTIFICATION -->
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

   <ProjectCard
    title=" 👉 Talent Hackathon 2023 - City of Vantaa "
    desc="Tackling challenge why people choose car over VR train? How we can solve this problem?"
    url="https://drive.google.com/file/d/1gWaZAPRXIDNnRE7iXdMwxB26Evf_O4iS/view"
    
  />
 <ProjectCard
    title=" 👉 Full Stack Development Certificate "
    desc="The Shortcut Academy"
    url="https://www.slideshare.net/KhanhLinhNguyen23/fullstack-dev-cert-2022pdf"
    
  />
  <ProjectCard
    title="  👉  YKI Kielitutkinnot"
    desc="Opetushallitus"
    url="https://drive.google.com/file/d/1R9DsMRNx9HDvlbB4yBVrHP1YrPxb5f_6/view"
    
  />
 <!-- SKILL -->
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-none md:columns-5 columns-2 mx-6">

   
    <li>English (C2)</li>
    <li>JavaScript</li>  
    <li>Postgres SQL</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>HTML </li>
    <li>Node.js</li>
    
   
    <li>Astro</li>
  
    <li>Bootstrap</li>
    <li>Taildwind</li>   
    <li>Git</li>   
  </ul>
</BaseLayout>
