---
import Scroller from "../components/Scroller";
import BaseLayout from "../layouts/BaseLayout.astro";
import Image from "/portfolio-pattern.svg";
import ProjectCard from "../components/ProjectCard";
import Contact from "../components/Contact.astro";
---

<BaseLayout>
  <div class="border-black border-x-2">
    <section class="py-6 md:py-20 xl:py-40">
      <div
        class="container mx-auto gap-8 px-4 flex flex-col md:flex-row items-center"
      >
        <div class="md:flex-1 md:order-2">
          <img
            src="/pictureofme.jpeg"
            alt="LINH"
            width="770"
            height="432"
            class="drop-shadow-[10px_-10px_0_rgba(250,204,21,1)] border-black rounded-tl-[150px] rounded-br-[150px] rounded-xl overflow-hidden"
          />
        </div>

        <div class="md:flex-1">
          <h2 class="text-lg md:text-xl uppercase">Hi 👋 I'm Linh.</h2>
          <h1 class="text-4xl lg:text-5xl xl:text-7xl font-bold mb-4">
            Developer <span class="text-yellow-400">.</span>
            <br />
            <span class="text-3xl lg:text-4xl xl:text-5xl"
              >Lifelong Learner</span
            >
            <span class="text-violet-500">.</span>
          </h1>
          <p class="text-lg max-w-xl mb-6">
            I love building meaningful things with React.js.
          </p>

          <div class="flex items-baseline gap-4">
            <a
              href="#project"
              class="px-6 py-4 rounded-md bg-teal-600 hover:bg-teal-700 text-white"
              >Explore Projects</a
            >
            <a
              href="/contact"
              class="px-6 py-4 rounded-md text-black flex gap-2"
              >Let's Talk
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width={1.5}
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- marquee -->
    <Scroller client:only="react" />
    <!-- project  -->
    <section
      id="project"
      class="px-4 pb-12 border-black border-t-2 bg-teal-600 bg-fixed"
      style={{ backgroundImage: "url(" + Image + ")" }}
    >
      <div class="container mx-auto">
        <div class="text-white text-center py-12">
          <h1 class="text-4xl lg:text-5xl xl:text-7xl font-bold mb-4">
            Explore Projects
          </h1>
          <p class="max-w-xl mx-auto text-l">
            I’m a passionate developer, contributing to <strong
              >Frontend
            </strong> and <strong>Backend</strong> for building software, web applications
            or mobile apps with an eye for clean aesthetics and optimal <strong
              >User Experience</strong
            > via intuitive design.
          </p>
        </div>
        <!-- project card -->
        <ProjectCard />
      </div>
    </section>
    <!-- contact -->
    <Contact />
  </div>
</BaseLayout>
