---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout>
  <div class="pb-12 mt-5 font-mono">
    <div class="text-xl py-1">Moi Folk 👋</div>
    <div class="text-5xl font-bold filter brightness-200">I'm Linh Nguyen</div>
    <div class="text-3xl py-3 font-bold">Front End Developer</div>
    <div class="mockup-code bg-primary text-white text-md">
  <pre data-prefix="$"><code>long story short</code></pre>
  <pre><code> I'm an ex-business student, who loves building things with code.</code></pre>
</div>

    <div class="mt-8">
      <a
        class="btn"
        href="https://www.linkedin.com/in/linhh-nguyen22/"
        target="_blank"
      >
        Let's connect!</a
      >
      <a href="/portfolio/projects" target="_blank" class="btn btn-outline ml-5">
        See my projects</a
      >
    </div>
  </div>

 
  
 
  
</BaseLayout>
