---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>

  <HorizontalCard
    title="Helsinki City Bikes App"
    img="/helbike.png"
    desc="A full stack app for displaying journey and station bikes information on table with sorting, searching, paginating and showing a map."
    url=""
    badge="PRE-ASSIGNMENT"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Wikimedia Project Course"
    img="/wikimedia.png"
    desc="This web shows team's project with Back-end for Tabular Data and Front-end React for Muisnaimuistot web-app"
    url="https://wikimedia-project.netlify.app/"
    badge="PROJECT COURSE"
  />
  <div class="divider my-0"></div>

  <HorizontalCard
    title="Stoic Space"
    img="/stoic.png"
    desc="This personal app is inspired by Stoic Philosophy and this shows my skills in React framework: using React hooks, props  and react-router for navigating, fetching API. For UI, I practice CSS, espeically glassmorphism css, combining with Styled-components, Material UI and create carousel component."
    url="https://stoicquote-generator.netlify.app/"
    badge="PERSONAL PROJECT"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Helsinki Restaurant"
    img="/helrestaurant.png"
    desc="A front-end web app shows all the Helsinki restaurant's information. In additional, you can click to 3 buttons to sort all restaurants' names alphabetically."
    url="https://helsinki-restaurants.netlify.app/"
    badge="PERSONAL PROJECT"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Inflation Check App"
    img="/inflation-check.png"
    desc="A small app displays inflation rates in 38 major countries by fetching API data."
    url="https://inflation-check.netlify.app/"
    badge="PERSONAL PROJECT"
  />
</BaseLayout>
