---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex mx-auto justify-center items-center h-screen flex-col">
    <h1 class="text-bold text-3xl">
      Thank you for sending your heartful email!
    </h1>
    <img src="/beluga.gif" alt="beluga" class="mt-5" />
  </div>
</BaseLayout>
