---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---

<section
  class="px-4 bg-yellow-300 hover:bg-black hover:text-white cursor-pointer border-black ease-in-out duration-150 border-t-2"
>
  <a href="/contact">
    <div class="container mx-auto md:flex gap-8 py-24">
      <div class="flex-col items-center">
        <h2 class="text-4xl">
          What can I do for you to solve business problem?
        </h2>
        <h1 class="text-4xl lg:text-5xl xl:text-7xl">Let's me help you.</h1>
      </div>

      <div class="text-xl font-bold w-[150px] bg-transparent">
        <LottieAnimation src="/animation.json" />
      </div>
    </div>
  </a>
</section>
