---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Linh Nguyen
  </div>
  <div class="inline opacity-75">
    <a href="" target="_blank" class="font-bold">Write Code</a> with
    <a
      href="https://github.com/linh-nguyenkhanh"
      target="_blank"
      class="font-bold">Love ❤️</a
    >
  </div>
</footer>
<style></style>
